@page "/all"
@inject ILogger<Defenders> Logger 
@inject GetLocalDataService fplService 

<PageTitle>All players</PageTitle>

<h1>All players</h1>

<PlayerTable @ref="child" players=typedPlayers ShowPlayerPosition=true></PlayerTable>

@code {
    public IEnumerable<Player>? typedPlayers { get; set; }

    PlayerTable? child; 

    protected override async Task OnInitializedAsync(){

        var players = await fplService.GetPlayers();

        typedPlayers = players;
        
        await base.OnInitializedAsync();
    } 

    protected override async Task OnAfterRenderAsync(bool firstRender){
        
        if (firstRender && child!=null)
        {
            await child.SortTableInvokeJSAsync();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    } 
}


