@page "/forwards"
@inject ILogger<Forwards> Logger 
@inject GetLocalDataService fplService 

<PageTitle>Forwards</PageTitle>

<h1>Forwards</h1>

<PlayerTable @ref="child" players="typedPlayers"></PlayerTable>

@code {
    public IEnumerable<Player>? typedPlayers { get; set; }
    PlayerTable? child; 

    protected override async Task OnInitializedAsync(){

        var players = await fplService.GetPlayers();

        typedPlayers = players.Where(p => p.Position == 4);
        
        await base.OnInitializedAsync();
    } 
    
    protected override async Task OnAfterRenderAsync(bool firstRender){
        
        if (firstRender && child!=null)
        {
            await child.SortTableInvokeJSAsync();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    } 
}


