@page "/goalkeepers"
@inject ILogger<Goalkeepers> Logger 
@inject GetLocalDataService FplService 

<PageTitle>Goalkeepers</PageTitle>

<h1>Goalkeepers</h1>

<PlayerTable @ref="_child" Players="TypedPlayers"></PlayerTable>

@code {
    public IEnumerable<Player>? TypedPlayers { get; set; } = new List<Player>();
    private PlayerTable? _child; 

    protected override async Task OnInitializedAsync(){

        var players = await FplService.GetPlayers();

        TypedPlayers = players.Where(p => p.Position == 1);
        Logger.LogInformation($"Found {TypedPlayers.Count()} players");

        await base.OnInitializedAsync();
    } 
    
    protected override async Task OnAfterRenderAsync(bool firstRender){
        
        if (firstRender && _child!=null)
        {
            await _child.SortTableInvokeJsAsync();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    } 
}


