@page "/midfielders"
@inject ILogger<Midfielders> Logger 
@inject GetLocalDataService FplService 

<PageTitle>Midfielders</PageTitle>

<h1>Midfielders</h1>

<PlayerTable @ref="_child" Players="TypedPlayers"></PlayerTable>

@code {
    private IEnumerable<Player>? TypedPlayers { get; set; } = new List<Player>();
    private PlayerTable? _child; 

    protected override async Task OnInitializedAsync()
    {
        var players = await FplService.GetPlayers();

        TypedPlayers = players.Where(p => p.Position == 3);
        Logger.LogInformation($"Found {TypedPlayers.Count()} players");

        await base.OnInitializedAsync();
    } 
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _child!=null)
        {
            await _child.SortTableInvokeJsAsync();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    } 
}


